body {

    background-color: lavender;

    font-family: Arial, Helvetica, sans-serif;

}

h1 {

color: darkslateblue;

text-align: right;

}

.about {

text-align: right; 
color: darkorchid;

}

.skills {

    text-align: right; 
    color: darkorchid;
    
    }

.projects {

text-align: right; 
color: darkorchid;
display: flex;
flex-wrap: wrap;

}

.project {

width: 30%;
margin: 10px;
padding: 20px 10px;
background: darkslateblue;
border-radius: 25%;
}

.contact {

    text-align: right; 
    color: darkorchid;
    
    }