body {

    background-color: lavender;

    font-family: Arial, Helvetica, sans-serif;

}

h1 {

color: darkslateblue;

text-align: center;

}

.about{
    display:flex;
    flex-wrap:wrap;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
    color: darkorchid
    }

.about img {
    width: 150px;
    height: 200px;
    border-radius: 25%;
    border: 2px solid rgb(126, 14, 201);
    }

.about p {
    width:50%;
    text-align: center;
    margin: auto;
    line-height: 125%;
    color: darkorchid
    }

.skills {

    text-align: center; 
    color: darkorchid;
    
    }

.projects {

text-align: center; 
color: darkorchid;
display: flex;
flex-wrap: wrap;

}

.project {

width: 30%;
margin: 10px;
padding: 20px 10px;
background: darkslateblue;
border-radius: 25%;
}

.contact {

    text-align: center; 
    color: darkorchid;
    
    }